/* section */
.projects {
  width: 85%;
  height: 100%;
  margin: 0 auto;
  padding-top: 10rem;
}
.projects_title {
  font-family: "NanumSquareNeoHeavy";
  font-size: 3rem;
  padding-bottom: 1.5rem;
  border-bottom: 3px solid #333;
}
.projects_container {
  position: relative;
  margin: 3rem auto 0;
}

.bookmark_title {
  font-family: "NanumSquareNeoHeavy";
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.bookmark {
  margin-right: 0.5rem;
  vertical-align: middle;
}

/* groupA */
.groupA_wrapper {
  margin-bottom: 5rem;
}
.groupA_detail_header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  margin-bottom: 1.5rem;
  align-items: center;
}
.groupA_project_title {
  font-family: "NanumSquareNeoHeavy";
  font-size: 2rem;
  padding-bottom: 1rem;
  margin-top: 2rem;
}
.groupA_detail_btns {
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
}
.groupA_detail_btns .icon {
  font-size: 2.7rem;
}
.groupA_detail_btns a:hover .icon {
  fill: #46b96c;
}
.groupA_catendate {
  margin: 0.5rem 0 1.5rem 0.3rem;
  color: #868686;
}
.groupA_catendate ul {
  display: flex;
  justify-content: space-between;
}
.groupA_catendate li {
  color: #868686;
}
.groupA_hashtag span {
  display: inline-block;
  font-family: "NanumSquareNeoHeavy";
  border-radius: 2rem;
  background: #e1e1e1;
  padding: 0.5rem 0.7rem;
  margin: 0 0.5rem 0.5rem 0;
}
.groupA_detail_wrapper {
  margin-top: 0.5rem;
}
.groupA_detail_wrapper:first-child {
  background: #e1e1e1;
  border-radius: 0.5rem;
  padding: 1.5rem 1rem;
}
.groupA_detail_wrapper:first-child ul li {
  margin: 0;
}
.groupA_detail_wrapper:first-child ul li::before {
  content: "💁‍♀️";
}
.groupA_detail_wrapper ul li {
  position: relative;
  text-align: left;
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 0 0 0.7rem 0.3rem;
  padding-left: 2.5rem;
}
.groupA_detail_wrapper ul li::before {
  position: absolute;
  left: 0rem;
  content: "\2705";
  font-size: 0.7rem;
}
.groupA_detail .groupA_detail_wrapper:nth-child(2) {
  margin-top: 2rem;
}

.line {
  border-bottom: 1px solid lightgray;
  margin: 0 0 1rem;
}

/* groupB */
.groupB_container {
  margin: 3rem auto 0;
}
.groupB_wrapper {
  margin-bottom: 5rem;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  transition: 0.25s;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.groupB_wrapper:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.2);
}
.groupB_wrapper img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.project_info {
  background: #fafafa;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 1rem 1.5rem 2.5rem;
}
.project_hashtag span {
  display: inline-block;
  font-family: "NanumSquareNeoHeavy";
  border-radius: 2rem;
  background: #eaeaef;
  padding: 0.5rem 0.7rem;
  margin: 0 0.5rem 1rem 0;
}
.project_date {
  margin-bottom: 1rem;
  color: #868686;
}
.project_category {
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  color: #868686;
}
.project_title {
  font-family: "NanumSquareNeoHeavy";
  font-size: 1.8rem;
  margin: 0.5rem 0 2rem;
}
.project_btns {
  display: flex;
  justify-content: center;
}
.project_btn {
  display: inline-block;
  width: 50%;
  border: 1px solid #333;
  box-shadow: 3px 3px 0 0 #333;
  text-align: center;
  height: 3.5rem;
  line-height: 2.4;
  transition: all 0.5s;
  border-radius: 2rem;
  cursor: pointer;
}
.project_btn:first-child {
  margin-right: 0.5rem;
}
.project_btn:last-child {
  margin-left: 0.5rem;
}
.project_btn a {
  display: inline-block;
  width: 100%;
  position: relative;
  font-size: 1.3rem;
  transition: 0.5s;
  cursor: pointer;
}
.project_btn a:after {
  content: "👉️";
  position: absolute;
  top: 0;
  right: 1rem;
  transition: 0.5s;
  opacity: 0;
}
.project_btn:hover {
  background: #333;
  color: #fafafa;
}
.project_btn:hover a,
.project_btn:hover a:after {
  padding-right: 1.5rem;
  color: #fafafa;
  opacity: 1;
}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .groupB_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
  .groupB_wrapper {
    margin-bottom: 1rem;
  }
}

/* pc */
@media screen and (min-width: 1025px) and (max-width: 1920px) {
  /* section */
  .projects {
    width: 70%;
  }

  .projects_container {
    margin-top: 4rem;
  }

  .groupA_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    margin-bottom: 7rem;
  }
  .groupA_wrapper > li:first-child {
    order: 2;
  }
  .groupA_project_title {
    margin-top: 0;
  }
  .groupA_detail_btns {
    padding-bottom: 0.5rem;
  }

  .groupB_container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }
}
